# Ignore virtual environment
.venv1/
venv/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore environment files
*.env
